### Rename this file to config.yaml and change the corresponding values
### Possibly uncomment what you need

### If True then nothing will be posted to reddit when running 
debug: False

### Your reddit api key client_id and client_secret for the bot account
reddit_api:
    client_id: $your_reddit_api_client_id
    client_secret: $your_reddit_api_client_secret
    username: $your_reddit_bot_username
    password: $your_reddit_bot_password

### Used to post pretty graphs for the history of the series
### Can be left out, then no graphs will be posted. Uncomment if needed.
# imgur_api:
#     client_id: $your_imgur_api_client_id
#     client_secret: $your_imgur_api_client_secret

### The series (plural) you want to be tracked
### List of title&author pairs, where title is a lowercase name without spaces
### which is guaranteed to be in the title of every post in the series, and the
### author which is the author of every post in the series.
### Additionally a regex can be supplied which will be used to match scores
### Example:
series:
    - title: October Streak Stacker
      author: olsnes
      regex: \d{1,3}00 # will match 100, 200 ... 9800, 9900
    - title: November Streak Stacker
      author: olsnes
      regex: \d{1,5} # will match # 1, 2 ... 99998, 99999
      max: 25000 # will then limit the score to 25000 (what the regex can't do)
      min: 0
      goal: highest # will maximize the score, so that it matches the regex, but stays within min/max
