### Rename this file to config.yaml and change the corresponding values
### Possibly uncomment what you need

### If True then nothing will be posted to reddit when running 
debug: False

### Your reddit api key client_id and client_secret for the bot account
reddit_api:
    client_id: $your_reddit_api_client_id
    client_secret: $your_reddit_api_client_secret
    username: $your_reddit_bot_username
    password: $your_reddit_bot_password

### Used to post pretty graphs for the history of the series
### Can be left out, then no graphs will be posted. Uncomment if needed.
# imgur_api:
#     client_id: $your_imgur_api_client_id
#     client_secret: $your_imgur_api_client_secret

# User which will receive messages when there are errors
# if left out then no message will be sent
username_to_message_in_case_of_errors: LiquidProgrammer

# Default values for all series if not supplied
defaults:
    top_count: 20
    top_plot_count: 5
    regex: \d{1,3}00

### The series (plural) you want to be tracked
### Each series entry should have a - followed by these parameters:
###     title: a string guaranteed to be in every post of the series
###     author: the author of the series (has to be the same every post)
###     regex (optional): regex to use in the series (look up online what
###                       a regex is, or look at the examples)
###     min (optional): will ignore values below this one
###     max (optional): will ignore values above this one
###     goal (optional): highest or lowest (default: highest), whether
###                      the highest score should be taken, or the
###                      lowest instead
###     ignore (optional): usernames of users who will be ignored in the
###                        while looking for scores
###     ingore_in_reddit_standings (optional):
###            usernames of users who will not be posted to the reddit
###            scoreboard
###     ingore_in_sheets_standings (optional):
###            usernames of users who will not be posted to google sheets
###
###
### Example:
series:
    - title: October Streak Stacker
      author: olsnes
      regex: \d{1,3}00 # will match 100, 200 ... 9800, 9900
    - title: November Streak Stacker
      author: olsnes
      regex: \d{1,5} # will match # 1, 2 ... 99998, 99999
      max: 25000 # will then limit the score to 25000 (what the regex can't do)
      min: 0
      goal: highest # will maximize the score, so that it matches the regex, but stays within min/max
